* {
    padding: 0;
    margin: 0;
    color:white;
    font-family: roboto;
}

/* header*/
header {
    background: #1F2937;
    height: 100%;
    padding-bottom: 2%;
    padding-left: 10%;
    padding-right: 10%;
    padding-top: 10px;
}

/* drop down menu */
ul li {
    display: inline-block;
    position: relative;
}
ul li a {
    display: block;
    padding: 5px 5px;
    text-align: center;
}
ul.dropdown li {
   display: block; 
}
ul.dropdown {
    width: 100%;
    position: absolute;
    z-index: 999;
    display: none;
    list-style: none;
    background: #1F2937;
}
ul.dropdown li a:hover {
    background: #3882F6;
}
li:hover ul.dropdown {
    display: block;
}

.typing {
    display: inline-block;
}

/* animation text */
.text {
    border-right: 5px solid;
    width: 100%;
    white-space: nowrap;
    overflow: hidden;
    animation: 
        typing 1.2s steps(19),
        cursor .4s step-end infinite alternate;
}

/* cursor blinking */
@keyframes cursor {
    50% {border-color: transparent;}
}

/* typing effect */
@keyframes typing {
    from { width: 0 }
}

/* usefull classes */
.dflex {
    display: flex;
}
.hcenter {
    align-items: center;
}
.ocenter {
    justify-content: center;
}
.content {
    margin-top: 70px;
    height: 100%;
}
.image-me {
    width: 100%;
}
.info {
    width: 100%;
}
.title {
    font-size: 48px;
    font-weight: bolder;
    width: 400px;
}
.aboutme {
    padding-top: 5px;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    letter-spacing: 1px;
    font-size: 18.5px;
}
p {
    color:#E5E7EB;
}
.me {
    width: 270px;
    height: 270px;
    border: 2px solid white;
    border-radius: 10px;
}
.hobby {
    font-size: 30px;
}
.nodecoration {
    text-decoration: none;
}
.linkedin {
    background: #3882F6;
    width: 100px;
    text-align: center;
    padding: 5px;
    border: #3882F6 1px solid;
    border-radius: 10px;
    margin-top: 10px;
    font-weight: bold;
    display: flex;
    justify-content: center;
    align-items: center;
}
.linkedin > .linkedin_logo {
    width: 17px;
    height: 17px;
}
.links {
    justify-content: space-between;
}
.ul1 {
    list-style-type: none;
    gap: 20px;
}
.section-title {
    color: #1F2937;
    text-align: center;
    padding: 30px;
    font-size: 30px;
}
.section-title2 {
    color: white;
    text-align: center;
    padding: 30px;
    font-size: 30px;
}
.section-subtitle {
    color: #1F2937;
    text-align: center;
    padding: 20px;
    margin-top: 5%;
    font-size: 25px;
}
.projects {
    height: 330px;
    gap: 5%;
}
.container {    
    padding-left: 3%;
    padding-right: 3%;
}
.container2 {
    margin-top: 12.5%;
    padding-left: 30%;
    padding-right: 30%;
    font-size: 20px;
    padding-bottom: 30px;
    background: #1F2937;
}
.img {
    height: 200px;
    width: 200px;
    border: 5px solid #3882F6;
    border-radius: 20px;
}
.str {
    display: flex;
    flex-direction: column;
    max-width: 270px;
    font-size: 20px;
    text-align: center;
    align-items: center;
    height: 100%;    
    padding-top: 1%;
}
.container > a {
    height: 100%;
}
.container p {
    color: #1F2937;
    margin-top: 10px;
}
footer {
    background: #1F2937;
    padding: 15px 0px;
    text-align: center;
    width: 100%;
}

button {
    padding: 3px;
    font-size: 15px;
    margin-top: 10px;
    color: black;
}
input, textarea {
    margin-bottom: 10px;
    font-size: 15px;
    padding: 3px;
    color:black;
}

/* quote atributes */
.quote {
    background: #E5E7EB;
    margin-top: 100px;
    margin-bottom: 100px;
    padding: 70px;
}
.form-content {
    display: flex;
    align-items: center;
    gap: 21%;
}
.quote-style-1 {
    color: #1F2937; 
    width: 100%; 
    margin-left: auto; 
    margin-right: auto;
    font-weight: 100;
    font-style: italic;
    text-align: center;
}
.quote-style-2 {
    color: #1F2937; 
    text-align: right;
    width: 100%;
    margin-right: auto;
    margin-left: auto;
}
.quote-style-1::before {
    content:"\""
}
.quote-style-1::after {
    content:"\""
}
.iframe-styling-1 {
    border: none;
    padding: 0;
    width: 1000px;
    height: 700px;
    margin-top: 5%;
    margin-bottom: 3%;
}
.iframe-styling-2 {
    border: none;
    padding: 0;
    width: 1000px;
    height: 1000px;
}
@media only screen and (max-width: 800px) {
    body div, footer {
        font-size: 1rem;
    }
    .text, .section-title, .section.title2 {
        font-size: 25px;
    }
    ul li {
        font-size: 15px;
    }
    .projects {
        flex-direction: column;
        height: 100%;
        gap: 50px;
    }
    .content {
        flex-direction: column;
        gap: 50px;
        padding: 20px;
    }
    ul li a {
        text-align: left;
    }
    header .nav-list {
        position: absolute;
        background-color: #1F2937;
        top: 75px;
        margin-left: auto;
        margin-right: auto;
        transform: translateY(-100%);
        z-index: -1;
        transition: .6s;
        display: block;
    }
    header .nav-list .nav-item {
        padding-left: 35px;
    }
    header .navbar-toggler {
        display: grid !important;
    }
    input#toggle:checked ~ header .nav-list {
        transform: translateY(0);
        z-index: 0;
    } 
    input#toggle:checked ~ header .navbar-toggler {
        margin-top: 35px;
    }
    input#toggle:checked ~ header .navbar-toggler .bar:nth-child(1) {
        position: absolute;
        transform: rotate(45deg);
    }
    input#toggle:checked ~ header .navbar-toggler .bar:nth-child(2) {
        display: none;
    }
    input#toggle:checked ~ header .navbar-toggler .bar:nth-child(3) {
        transform: rotate(-45deg);
    }
    header .navbar-toggler {
        display: none;
        height: min-content;
        margin: 18px -10px 0 0;
        cursor: pointer;   
    }
    header .navbar-toggler .bar {
        width: 40px;
        height: 5px;
        margin-bottom: 10px;
        background: white;
        border-radius: 10%;
        transition: .4s;
    }
    .title {
        width:300px;
    }
}
.dnone {
    display: none;
}
