* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.container {
    display: flex;
    flex-wrap: wrap;
    border: 1px solid black;
    margin-left: auto;
    margin-right: auto;
    margin-top: 35px;
    height: 722px;
    width: 722px;
}
.title {
    margin-top: 35px;
    text-align: center;
    font-size: 50px;
}
.selector {
    display: flex;
    margin-left: auto;
    margin-right: auto;
    justify-content: center;
    margin-bottom: 10px;
    font-size: 20px;
}
.buttons{
    margin-top: 15px;
    display: flex;
    justify-content: center;
    gap: 20px;
}
.begin, .stop, .reset {
    padding: 2px;
    font-size: 20px;
}